@import "tailwindcss";

@font-face {
  font-family: "Flatlion Personal Use Only";
  src: url("/fonts/Flatlion Personal Use Only.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  size-adjust: 400%;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #D69F03;
}

@theme inline {
  --color-background: #ffffff;
  --color-foreground: var(--foreground);
  --color-secondary: #D69F03;
  --color-dark:#010A2D;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-montserrat: var(--font-montserrat);
  --font-signature: var(--font-signature);
  --font-vital: var(--font-vital);
  --font-open: var(--font-open-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}